<!DOCTYPE HTML>
<html>
	<head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


		<title>The switch</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body class="landing">
		<div id="page-wrapper">

			<!-- Header -->
    <header id="header" class="alt">
        <h1><a href="{{ url_for('general.home') }}">
            <img id="blog-logo" src="{{ url_for('static', filename='images/logo.png') }}"/>
        </a></h1>
        <nav id="nav">
            <ul>
                <li><a href="{{ url_for('general.home') }}">Home</a></li>
                <li><a href="{{ url_for('account.signup') }}">Sign Up</a></li>
                <li><a href="{{ url_for('account.signin') }}">Sign In</a></li>
            </ul>
        </nav>
    </header>

			<!-- Banner -->
				<section id="banner">
					<h2>Your account</h2>
				</section>

			<!-- Main -->
				<section id="main" class="container">

					<section class="box special features">
						<header class="major">
                            <h4>
                                <nav class="navbar navbar-default">
                                  <div class="container-fluid">
                                    <div class="navbar" id="bs-example-navbar-collapse-1">
                                      <ul class="nav nav-pills-justified col-md-4">
                                        <li><a href="{{ url_for('user_management.recipients') }}">Recipients</a></li>
                                      </ul>
                                      <ul class="nav nav-pills-justified  col-md-4">
                                        <li><a href="{{ url_for('user_management.documents') }}">Documents</a></li>
                                      </ul>
                                      <ul class="nav nav-pills-justified  col-md-4">
                                        <li><a href="{{ url_for('user_management.settings') }}">Settings</a></li>
                                      </ul>
                                    </div>
                                  </div>
                                </nav>
                            </h4>
                            <h3>
                                <p>Your recipients</p>
                            </h3>
                            <div id="recipientResults">
                                <table class="table table-hover">
                                  <thead>
                                    <tr>
                                      <td>Name</td>
                                      <td>E-mail</td>
                                      <td>Action</td>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>Mark</td>
                                      <td>Otto</td>
                                      <td><button type="submit" class="btn btn-danger btn-mini">Remove</button></td>
                                    </tr>
                                    <tr>
                                      <td>Jacob</td>
                                      <td>Thornton</td>
                                      <td><button type="submit" class="btn btn-danger btn-mini">Remove</button></td>
                                    </tr>
                                    <tr>
                                      <td>Larry the Bird</td>
                                      <td>Larry</td>
                                      <td><button type="submit" class="btn btn-danger btn-mini">Remove</button></td>
                                    </tr>
                                  </tbody>
                                </table>
                            </div>
                            <h3>
                                <p>Add a new recipient</p>
                            </h3>
                            <div>
                                <form class="form-inline" action="{{ url_for('user_management.recipients') }}" method="post">
                                    <input type="text" class="form-control" name="recipient_name" placeholder="Recipient name">
                                    <input type="text" class="form-control" name="recipient_email" placeholder="Recipient E-mail">
                                    {{ form.csrf_token }}
                                    <input type="submit" class="btn btn-primary" value="Add recipient">
                                </form>
                            </div>
						</header>
					</section>
                </section>




		<!-- Scripts -->
			<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/jquery.dropotron.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/jquery.scrollgress.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/skel.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/util.js') }}"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="{{ url_for('static', filename='js/main.js') }}"></script>

	</body>
</html>